:root {
    --primary: rgb(76 92 146);
    --surface-tint: rgb(76 92 146);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(220 225 255);
    --on-primary-container: rgb(52 68 121);
    --secondary: rgb(68 94 145);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(216 226 255);
    --on-secondary-container: rgb(43 70 120);
    --tertiary: rgb(52 97 141);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(208 228 255);
    --on-tertiary-container: rgb(22 73 116);
    --error: rgb(144 74 67);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(115 51 45);
    --background: rgb(250 248 255);
    --on-background: rgb(26 27 33);
    --surface: rgb(250 248 255);
    --on-surface: rgb(26 27 33);
    --surface-variant: rgb(226 225 236);
    --on-surface-variant: rgb(69 70 79);
    --outline: rgb(118 118 128);
    --outline-variant: rgb(198 198 208);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(47 48 54);
    --inverse-on-surface: rgb(241 240 247);
    --inverse-primary: rgb(182 196 255);
    --primary-fixed: rgb(220 225 255);
    --on-primary-fixed: rgb(3 23 75);
    --primary-fixed-dim: rgb(182 196 255);
    --on-primary-fixed-variant: rgb(52 68 121);
    --secondary-fixed: rgb(216 226 255);
    --on-secondary-fixed: rgb(0 26 66);
    --secondary-fixed-dim: rgb(173 198 255);
    --on-secondary-fixed-variant: rgb(43 70 120);
    --tertiary-fixed: rgb(208 228 255);
    --on-tertiary-fixed: rgb(0 29 53);
    --tertiary-fixed-dim: rgb(159 202 252);
    --on-tertiary-fixed-variant: rgb(22 73 116);
    --surface-dim: rgb(218 217 224);
    --surface-bright: rgb(250 248 255);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(244 243 250);
    --surface-container: rgb(238 237 244);
    --surface-container-high: rgb(232 231 239);
    --surface-container-highest: rgb(227 226 233);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--background);
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--surface-container-high);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--outline-variant);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--outline);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--outline-variant) var(--surface-container-high);
}

/* For Edge (new versions) */
@supports (-ms-ime-align: auto) {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--outline-variant) var(--surface-container-high);
    }
}